* {
  box-sizing: border-box;
}
nav {
  position: fixed;
  top: 0;
  min-width: 320px;
  width: 100%;
  z-index: 3;
}

body {
  margin: 0;
  font-size: 100%;
}

main {
  margin: 0 25px 0 25px;
}

/* REUSABLE CONTAINER WITH ICONS */
.iconRow {
  display: flex;
  justify-content: space-evenly;
  width: 156px;
}

.displayNone {
  display: none;
}

.borderBottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.thinText {
  opacity: 60%;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 15px;
}

/* NAV ICON STYLE */
nav .iconRow a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  opacity: 30%;
  padding: 10px 5px 10px 5px;
}

nav .iconRow a:hover {
  opacity: 90%;
  color: rgb(56, 56, 56);
}

/* FIRST NAV BAR */
#navContainer {
  display: flex;
  background-color: white;
  height: 56px;
  justify-content: space-around;
  max-width: 1180px;
  margin: auto;
  align-items: center;
  text-align: center;
  opacity: 95%;
}

#navContainer #navLogo {
  position: relative;
  left: -10px;
  padding: 8px 7px 2px 7px;
}

#navMain {
  position: relative; /* FOR ABSOLUTE POSITIONING OF DROPDOWN ITEMS */
  list-style: none;
  display: flex;
  text-align: center;
  flex-direction: row;
  height: 56px;
  padding: 0;
}

#navMain a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-variant: small-caps;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  padding: 18px 0 20px 0;
  margin: 0 10px;
}

/* DROPDOWN ITEMS */
#ddLink-1 {
  visibility: hidden;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -50px;
  top: 56px;
  z-index: 9;
}

#ddLink-1 a {
  background-color: #f1f1f1;
  padding: 14px;
}

#ddLink-11 {
  visibility: hidden;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 100px;
  top: 10px;
  z-index: 10;
}

#ddLink-11 a {
  background-color: rgb(224, 224, 224);
}

/* DROPDOWN HOVER */
#navMain a:hover {
  color: rgba(0, 0, 0, 0.4);
}

#ddLink-1:hover {
  visibility: visible;
}
#home:hover + #ddLink-1 {
  visibility: visible;
}

#ddLink-111:hover + #ddLink-11 {
  visibility: visible;
}

#ddLink-11:hover {
  visibility: visible;
}

/* SECOND NAV BAR (TOGGLE) */
@media (max-width: 900px) {
  nav {
    position: absolute;
  }

  #navContainer {
    display: none;
  }

  #navContainer-2 {
    background-color: white;
    margin-top: 0;
    min-height: 56px;
    opacity: 95%;
  }

  #navMain-2 a {
    text-decoration: none;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.8);
    font-variant: small-caps;
    letter-spacing: 2px;
    padding: 5px 0 5px 0;
  }

  #navMain-2 a:hover {
    color: rgba(0, 0, 0, 0.4);
  }

  #navMain-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    padding-top: 60px;
  }

  #navMain-2 .togThin {
    font-size: 1em;
  }

  .btnTogNavItem {
    background: none;
    color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 4px 2px 2px 3px;
    width: 22px;
    height: 22px;
    outline: none;
  }

  .btnTogNavItem:hover {
    border: 1px solid rgba(0, 0, 0, 0.9);
    text-shadow: 1px 1px 1px rgba(24, 24, 24, 0.45);
  }

  .btnTogNavItem:active {
    transform: scale(0.85);
  }

  #navContainer-2 #navLogo-2 {
    padding: 15px 0 10px 0;
    position: absolute;
    top: -8px;
    left: 35px;
    transform: scale(0.8);
  }

  @media(max-width: 450px) {
    #navLogo-2 img {
      width: 90%;
      padding: 20px 0 15px 0;
      margin-top: -17px;
    }
  } 

  #btnTogNav {
    position: absolute;
    left: 15px;
    background: none;
    border: none;
    outline: none;
    height: 55px;
    font-size: 0.85em;
  }

  #btnTogNav:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  }

  #btnTogNav:active {
    transform: scale(0.95);
    text-shadow: none;
  }

  #btnTogNav i {
    font-size: 1.6em;
    position: relative;
    top: 2px;
  }

   /* SECOND NAV ICONS POSITION */
  .secondNavIcons {
    position: absolute;
    right: 15px;
    top: 10px;
  }
}

@media(min-width: 901px) {
  #navContainer-2 {
    display: none;
  }
}

/* INTRO */
.greeting  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting h2 {
  font-family: monospace;
  margin: 0;
  font-weight: normal;
  padding: 0;
  font-size: 2.5em;
}

#sphynx { 
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin-top: 100px;
}

@media (max-width: 450px) {
  #sphynx {
    width: 260px;
    height: 260px;
  }
}

.greeting h1 {
  font-family: monospace;
  font-size: 7.75em;
  margin-top: -60px;
  margin-bottom: 0;
  text-shadow: 5px -5px 0 rgb(255, 255, 255);
}

/* CHANGING TEXT */ 
#changingLine {
  position: relative;
  left: -60px;
}

#changer {
  font-weight: 900;
  max-width: 200px;
  width: 100%;
  position: relative;
  top: -38px;
  left: 180px;
}

/* MAIN TILES */
.mainTilesContainer  {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding: 0 15px 0 15px;
  position: relative;
  top: -15px;
  max-width: 1180px;
}

.tile a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow: hidden;
}

.tile  { 
  margin: 0 10px 0 10px;
  flex-basis: 20%;
}

.tile img {
  max-width: 230px;
  width: 100%;
  transition: .6s ease;
  margin-bottom: -8px;
}

.text {
  position: relative;
  text-align: center;
  top: -50%;
}

#tile-1:hover #tileImg-1 {
  filter: brightness(50%);
  transform: scale(1.4);
}

#tile-2:hover #tileImg-2 {
  filter: brightness(50%);
  transform: scale(1.4);
}

#tile-3:hover #tileImg-3 {
  filter: brightness(50%);
  transform: scale(1.4);
}

#tile-4:hover #tileImg-4 {
  filter: brightness(40%);
  transform: scale(1.4);
}

@media (max-width: 850px) {
  .greeting h1 {
    font-size: 4.5em;
    margin-top: -40px;
  }

  .greeting h2 {
    font-size: 2em;
  }

  #changer {
    position: relative;
    top: -30px;
    left: 145px;
  }

  .mainTilesContainer {
    max-width: 710px;
    padding: 0;
  }

  .tile {
    flex-basis: 40%;
  }

  .tile img {
    max-width: 320px;
    width: 100%;
  }
}

@media(max-width: 450px) {
  .tile {
    min-width: 180px;
    width: 100%;
  }
}

/* LIST OF ARTICLES */
#nextContent {
  margin: 50px 0 50px 0;
}

.mainListContainer {
  max-width: 700px;
  width: 100%;
  margin: auto;
}

.list {
  display: block;
  color: rgba(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 50px;
}

.listImg {
  width: 71px;
  height: 71px;
  float: left;
  margin-right: 60px;
  margin-left: 0;
  margin-top: -10px;
  text-align: center;
  line-height: 50px;
}

.day {
  font-size: 1.3em;
}

.month {
  opacity: 40%;
  font-size: 0.8em;
  font-weight: 100;
  position: relative;
  top: -25px;
}

.list:hover  #list1 {
  background-image: url('../images/s1.jpg')
}

.list:hover  #list2 {
  background-image: url('../images/s2.jpg')
}

.list:hover  #list3 {
  background-image: url('../images/s3.png')
}

.list:hover  #list4 {
  background-image: url('../images/s3.png')
}

.list:hover  #list5 {
  background-image: url('../images/s3.png')
}

.list:hover  #list6 {
  background-image: url('../images/s3.png')
}

.list:hover  #list7 {
  background-image: url('../images/s3.png')
}

.list:hover span {
  visibility: hidden;
}

#allArticles {
  display: block;
  border: 2px solid rgba(4, 0, 19, 0.9);
  color: black;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin: auto;
  margin-top: 70px;
  padding: 14px 0 10px 0;
  width: 200px;
}

#allArticles:hover {
  background-color: rgba(4, 0, 19, 0.9);
  color: rgb(226, 226, 226);
}

@media(max-width: 425px) {
  .mainListContainer {
    transform: scale(.8);
    width: 320px;
    position: relative;
    left: -30px;
  }

  .listImg {
    margin-right: 10px;
  }
}

/* FOOTER */
footer {
  margin-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

svg { 
  height: 0;
}

#footerLogo {
  text-align: center;
}

/* FOOTER ICONS */
footer .iconRow {
  margin: auto;
}

footer .iconRow a{
  text-decoration: none;
  border-radius: 50%;
  color: rgba(4, 0, 19, 0.9);
  opacity: 85%;
  padding: 10px 10px;
}

footer .iconRow a:hover {
  background-color: rgb(58, 52, 52);
  color: rgba(255, 255, 255, 0.85);
}

/* INSTA TILES */
.instaContainer {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  margin: auto;
  max-width: 1000px;
  padding: 0 30px 0 30px;
  overflow: hidden;
}

.instaContainer div {
  margin: 0 6px 6px 6px;
  justify-items: center;
  flex-shrink: 0;
  position: relative; /* for absolute positioning of instaIcon */
}

.instaContainer img {
  max-width: 110px;
  width: 100%;
}

@media(max-width: 1040px) {
  .instaContainer {
    flex-wrap: wrap;
    max-width: 1300px;
    width: 100%;
  }

  .instaContainer div {
    flex-basis: 20%;
  }
  .instaContainer img {
    max-width: 200px;
    width: 100%;
  }
}

@media(max-width: 600px) {
  .instaContainer {
    flex-wrap: wrap;
    max-width: 500px;
    width: 100%;
  }

  .instaContainer div {
    flex-basis: 45%;
  }
  .instaContainer img {
    max-width: 200px;
    width: 100%;
  }
}
  

.instaIcon  {
  opacity: 0%;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.instaContainer a {
  text-decoration: none;
  font-size: 1.2em;
}

.instaContainer a:hover .instaIcon {
  opacity: 100%;
}

.instaContainer a:hover .instaImg {
  filter: url(#blueWash) brightness(70%);
}

#signature {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  font-size: 0.9em;
  position: relative;
  top: -30px;
}

/* ICOMOON */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?c1gvtc');
  src:  url('../fonts/icomoon/icomoon.eot?c1gvtc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?c1gvtc') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?c1gvtc') format('woff'),
    url('../fonts/icomoon/icomoon.svg?c1gvtc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-firefox:before {
  content: "\eada";
}

/* KONEC ICOMOON */
